<h1>일기를 쓰기 위한 페이지입니다</h1>
<p>글을 쓰고 일기를 추가해보세요!</p>
<form action="/home/create" method="post">
    날짜: <input type="text" name="date"><br>
    내용: <input type="text" name="content"><br>
    <input type="submit" value="Daily page 추가">
</form>
